.footer {
  background-color: #1a1a1a;
  padding-bottom: 35px;
  padding-top: 35px;
  border-bottom: 3px solid #129cf3;

  #copyright {
    width: 50%;
    p {
      color: #8c8b8a;
      font-weight: 600;
      font-size: 15px;
      text-transform: uppercase;
      a {
        text-decoration: none;
        color: #129cf3;
      }
    }
  }
  .scroll-top {
    a {
      background-color: #129cf3;
      padding: 25px;
      transition: all 1s;
      -webkit-transition:all 1s;
      -moz-transition:all 1s;
      -o-transition: all 1s;
      i{
          color:#fff;
          font-size: 25px;
      }
    }
    &:hover{
        a{
            background-color: #1274B1;
            border-color:#316B90;
        }
    }
  }
}
