* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body{
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: $raleway !important;
}

p {
    font-size:14px;
}

.bx-wrapper{
  -webkit-box-shadow:none !important;
  box-shadow: none !important;
  border:none !important;
}

.screen-slider-row{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
